:root {
    --body-width: 65vw;
    --footer-multiplier: 2.4;
    --footer-font-size: 0.8vmax;
    --background-color: #ffffff;
    --text-color: #666666;
    --header-color: #000000;
    --shadow-color: #3c2c00;
    --overlay-color: #000000;
}

/* System Default Light Mode */
@media (not (prefers-color-scheme: dark)) {
    :root {
        --background-color: #ffffff;
        --text-color: #666666;
        --header-color: #000000;
        --shadow-color: #3c2c00;
        --overlay-color: #000000;
    }
}

/* System Default Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #999999;
        --header-color: #ffffff;
        --shadow-color: #aaaa8c;
        --overlay-color: #ffffff;
    }
}

@media (max-height: 800px) {
    :root {
        --footer-multiplier: 4.8;
        --footer-font-size: 0.5rem;
    }
}

@media (max-height: 400px) {
    :root {
        --footer-multiplier: 7.2;
    }
}

body {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
    width: var(--body-width);
    margin: 0 auto;
}

.outer-box {
    min-height: 100vw;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: "logic-monospace", mono;
    font-weight: 700;
    font-style: normal;
    color: var(--header-color);
}

.content {
    text-align: center;
}

.signature {
    text-align: left;
}

.back-arrow {
    display: inline-block;
    transform: scale(1, -1);
}

a {
    color: #ebc000;
}

sup a {
    text-decoration: none;
}

a:hover {
    color: #d7ac00;
    text-decoration-line: underline;
    text-decoration-style:  double;
}

sup a:hover {
    text-decoration-style: solid;
}

a:active {
    color: #ebc00040;
}

ol {
    margin: 25px;
}

.footer {
    width: fit-content;
    font-size: var(--footer-font-size);
    height: calc(400px + calc(1vh * var(--footer-multiplier)));
    margin: 2vh auto -400px auto;
    padding: 1vmin 1vw 1vmax 1vw;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: inset 0 0 4px 2px var(--shadow-color);
    z-index: 5;
}

.close-button {
    width: initial;
    height: initial;
    margin: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.footnotes, .modal-overlay {
    display: none;
}

.modal-overlay.revealed {
    display: block;
    position: fixed;
    top: -20vh;
    left: -20vw;
    background: var(--overlay-color);
    opacity: 33%;
    height: 120vh;
    width: 120vw;
    overflow: hidden;
    z-index: 9;
}

.footnotes.noscript {
    display: block;
    position: static;
}

hr {
    display: none;
}

.noscript hr {
    display: block;
}

.footnotes.revealed {
    display: block;
    background: var(--background-color);
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    position: fixed;
    left: 25vw;
    top: 25vh;
    border-radius: 25px;
    box-shadow: 4px 4px 8px 2px var(--shadow-color);
    transition: 0.3s;
    z-index: 10;
}

.back-arrow {
    display: none;
    text-decoration: none;
}

.noscript .close-button {
    display: none;
}

.noscript .back-arrow {
    display: inline;
}

